<a href="https://colab.research.google.com/github/Souha-BH/DataMining_GL4/blob/main/TP4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Partie 1 : Données de travail

In [7]:
import pandas as pd
from pandas_profiling import ProfileReport
fromage=pd.read_table(r"/fromage1.txt",sep="\t",header=0,index_col=0)
print(fromage.describe())
print(fromage.shape)
print(fromage)
#rofile = ProfileReport(fromage)
#print(profile)

         calories      sodium     calcium    lipides     retinol    folates  \
count   29.000000   29.000000   29.000000  29.000000   29.000000  29.000000
mean   300.034483  210.086207  185.734483  24.158621   67.562069  13.010345
std     91.914356  108.678923   72.528882   8.129642   24.163098  11.723339
min     70.000000   22.000000   72.600000   3.400000   37.100000   1.200000
25%    292.000000  140.000000  132.900000  23.400000   51.600000   4.900000
50%    321.000000  223.000000  202.300000  26.300000   62.300000   6.400000
75%    355.000000  276.000000  220.500000  29.100000   76.400000  21.100000
max    406.000000  432.000000  334.600000  33.300000  150.500000  36.400000

       proteines  cholesterol  magnesium
count  29.000000    29.000000  29.000000
mean   20.168966    74.586207  26.965517
std     6.959788    28.245755  11.318388
min     4.100000    10.000000  10.000000
25%    17.800000    70.000000  20.000000
50%    21.000000    80.000000  26.000000
75%    23.400000    90.000000  30.000000
max    35.700000   120.000000  51.000000
(29, 9)
                    calories  sodium  calcium  lipides  retinol  folates  \
Fromages
CarredelEst              314   353.5     72.6     26.3     51.6     30.3
Babybel                  314   238.0    209.8     25.1     63.7      6.4
Beaufort                 401   112.0    259.4     33.3     54.9      1.2
Bleu                     342   336.0    211.1     28.9     37.1     27.5
Camembert                264   314.0    215.9     19.5    103.0     36.4
Cantal                   367   256.0    264.0     28.8     48.8      5.7
Chabichou                344   192.0     87.2     27.9     90.1     36.3
Chaource                 292   276.0    132.9     25.4    116.4     32.5
Cheddar                  406   172.0    182.3     32.5     76.4      4.9
Comte                    399    92.0    220.5     32.4     55.9      1.3
Coulomniers              308   222.0     79.2     25.6     63.6     21.1
Edam                     327   148.0    272.2     24.7     65.7      5.5
Emmental                 378    60.0    308.2     29.4     56.3      2.4
Fr.chevrepatemolle       206   160.0     72.8     18.5    150.5     31.0
Fr.fondu.45              292   390.0    168.5     24.0     77.4      5.5
Fr.frais20nat.            80    41.0    146.3      3.5     50.0     20.0
Fr.frais40nat.           115    25.0     94.8      7.8     64.3     22.6
Maroilles                338   311.0    236.7     29.1     46.7      3.6
Morbier                  347   285.0    219.0     29.5     57.6      5.8
Parmesan                 381   240.0    334.6     27.5     90.0      5.2
Petitsuisse40            142    22.0     78.2     10.4     63.4     20.4
PontlEveque              300   223.0    156.7     23.4     53.0      4.0
Pyrenees                 355   232.0    178.9     28.0     51.5      6.8
Reblochon                309   272.0    202.3     24.6     73.1      8.1
Rocquefort               370   432.0    162.0     31.2     83.5     13.3
SaintPaulin              298   205.0    261.0     23.3     60.4      6.7
Tome                     321   252.0    125.5     27.3     62.3      6.2
Vacherin                 321   140.0    218.0     29.3     49.2      3.7
Yaourtlaitent.nat.        70    91.0    215.7      3.4     42.9      2.9

                    proteines  cholesterol  magnesium
Fromages
CarredelEst              21.0           70         20
Babybel                  22.6           70         27
Beaufort                 26.6          120         41
Bleu                     20.2           90         27
Camembert                23.4           60         20
Cantal                   23.0           90         30
Chabichou                19.5           80         36
Chaource                 17.8           70         25
Cheddar                  26.0          110         28
Comte                    29.2          120         51
Coulomniers              20.5           80         13
Edam                     24.7           80         44
Emmental                 29.4          110         45
Fr.chevrepatemolle       11.1           50         16
Fr.fondu.45              16.8           70         20
Fr.frais20nat.            8.3           10         11
Fr.frais40nat.            7.0           30         10
Maroilles                20.4           90         40
Morbier                  23.6           80         30
Parmesan                 35.7           80         46
Petitsuisse40             9.4           20         10
PontlEveque              21.1           70         22
Pyrenees                 22.4           90         25
Reblochon                19.7           80         30
Rocquefort               18.7          100         25
SaintPaulin              23.3           70         26
Tome                     21.8           80         20
Vacherin                 17.6           80         30
Yaourtlaitent.nat.        4.1           13         14

**Comprendre et programmer les quelques lignes Précédentes : comment sont réparties
les données? Quels sont les attributs de ce jeu de données?**

Les données sont réparties de la façcon suivante:
- 29 instances
- 9 attributs : calories, sodium, calcium, lipides, retinol, folates, proteines,
cholesterol et magnesium

In [8]:
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
scatter_matrix(fromage, alpha=0.5,figsize=(9,9), diagonal='kde')
plt.show()

**Qu’est-ce que vous remarquez ?**

On utilise scatter_matrix pour voir la corrélation entre les différents attributs. On remarque que les attributs calories et cholesterol sont positivement corrélées. Aussi on a les attributs calories et lipides sont positivement corrélées. De meme pour les lipides et cholesterol. On peut donc éliminer deux de ces attributs. (On les retrouvera automatiquement dans le meme cluster)

### Partie 2 : Méthode des centres mobiles

In [9]:
import numpy as np
from sklearn import cluster
np.random.seed(0)
kmeans = cluster.KMeans(n_clusters = 4)
kmeans.fit(fromage)
idk = np.argsort(kmeans.labels_)
print(pd.DataFrame(fromage.index[idk],kmeans.labels_[idk]))
print(kmeans.transform(fromage))
print("cluster centers \n",kmeans.cluster_centers_)

             Fromages
0         CarredelEst
0                Tome
0         PontlEveque
0           Chabichou
0            Chaource
0         Coulomniers
0  Fr.chevrepatemolle
1            Beaufort
1         SaintPaulin
1             Cheddar
1               Comte
1                Edam
1            Emmental
1            Vacherin
1            Parmesan
2       Petitsuisse40
2  Yaourtlaitent.nat.
2      Fr.frais20nat.
2      Fr.frais40nat.
3           Maroilles
3             Morbier
3              Cantal
3           Camembert
3            Pyrenees
3           Reblochon
3          Rocquefort
3                Bleu
3             Babybel
3         Fr.fondu.45
[[123.59715669 285.36163076 384.27301005 145.46927992]
 [110.54651897 118.43379084 303.10311983  71.72681089]
 [235.25665316  56.72603293 349.91323389 218.1879268 ]
 [159.09984736 200.30401971 393.76898843  45.60922494]
 [141.19170858 210.31138298 332.43471728  84.66051854]
 [180.75982487 111.73150994 371.97076666  86.99931839]
 [ 72.0404549  182.80599775 298.65300308 170.2611917 ]
 [ 57.86280572 204.98823213 311.48990553 105.53037193]
 [156.41570984  92.26223665 348.48685233 159.88151676]
 [224.31195752  79.32509258 333.83554522 230.88643399]
 [ 39.94716153 204.4018782  285.29211565 155.61953412]
 [197.13338124  43.74211715 293.81905359 172.55995306]
 [289.57992728 102.59674855 343.1669947  273.3780741 ]
 [144.41931015 265.24828993 195.86579908 252.80069897]
 [164.74401355 271.72958122 400.47054979 101.45152241]
 [307.24796873 336.96303256  27.57918146 378.20198492]
 [286.92623741 330.65941362  48.43507252 376.38946771]
 [163.69886115 169.20512053 379.74839203  39.80348477]
 [137.46307556 146.31641334 360.87135     31.87791398]
 [247.92574637 127.37007228 405.05415842 157.0268493 ]
 [275.48594208 322.76561591  73.02996816 370.72406639]
 [ 66.39975258 145.61200264 273.9400961  103.74546448]
 [103.21034693 118.1602421  327.69454718  85.09362726]
 [106.4868939  149.56115075 323.02206001  41.96502591]
 [215.62761551 302.57210349 480.78906108 141.69363218]
 [163.61948015  93.47945128 289.74900561 120.31124386]
 [ 44.67517687 176.06769384 309.5039923   98.83002277]
 [158.9611408   63.47704556 263.14012664 168.16769428]
 [304.65582689 316.6232269  101.24362326 346.9503587 ]]
cluster centers
 [[297.85714286 239.78571429 103.84285714  24.91428571  83.92857143
   23.05714286  18.97142857  71.42857143  21.71428571]
 [363.875      146.125      257.025       29.05        63.6
    3.8625      26.5625      96.25        38.875     ]
 [101.75        44.75       133.75         6.275       55.15
   16.475        7.2         18.25        11.25      ]
 [329.8        306.6        206.82        26.87        64.24
   11.91        21.08        82.          27.4       ]]

In [10]:
from sklearn import metrics
#utilisation de la métrique "silhouette"
res = np.arange(9, dtype ="double")
for k in np.arange(9):
  km = cluster.KMeans(n_clusters = k+2)
  km.fit(fromage)
  res[k] = metrics.silhouette_score(fromage,km.labels_)
print (res)
#graphique
import matplotlib.pyplot as plt
plt.title("silhouette")
plt.xlabel("# of clusters")
plt.plot(np.arange(2,11,1),(res))
plt.show

[0.50681355 0.37299771 0.3282387  0.35737616 0.32267618 0.28114392
 0.29450378 0.23904343 0.25006247]

**2. Quelle est la meilleure valeur de k (nombre de clusters) selon la métrique silhouette ?**

Le score le plus élévé est de 0.506 pour un nombre de clusters de 2. Cependant, il faut éviter d'utiliser un clustering à 2. Donc on choisit le nombre 3 pour un score de 0.37 ou 5 avec un score de 0.35. (réellement le meilleur choix est de 4)

### Partie 3 : Classification ascendante hiérarchique

In [11]:
import pandas
import numpy as np
#librairies pour la CAH
from matplotlib import pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage, fcluster
Z = linkage(fromage,method='ward', metric='euclidean')
#affichage du dendrogramme
plt.title("CAH")
plt.title('CAH avec matérialisation des 4 classes')
dendrogram(Z,labels=fromage.index,orientation='left',color_threshold=255)
plt.show()
groupes_cah = fcluster(Z, t = 255,criterion='distance')
print(groupes_cah)
#index triés des groupes
idg = np.argsort(groupes_cah)
#affichage des observations et leurs groupes
print(pandas.DataFrame(fromage.index[idg],groupes_cah[idg]))

[3 4 2 3 3 2 4 4 2 2 4 2 2 4 3 1 1 3 3 2 1 4 4 4 3 2 4 2 1]
             Fromages
1  Yaourtlaitent.nat.
1       Petitsuisse40
1      Fr.frais40nat.
1      Fr.frais20nat.
2         SaintPaulin
2            Beaufort
2              Cantal
2            Parmesan
2             Cheddar
2               Comte
2                Edam
2            Emmental
2            Vacherin
3          Rocquefort
3             Morbier
3           Maroilles
3         CarredelEst
3           Camembert
3                Bleu
3         Fr.fondu.45
4         Coulomniers
4            Chaource
4           Chabichou
4         PontlEveque
4            Pyrenees
4           Reblochon
4             Babybel
4                Tome
4  Fr.chevrepatemolle

**2. Interpréter les résultats**

Selon l'algorithme CAH, le meilleur nombre de clusters est 4.

**3. Donnez la correspondance entre les groupes de la CAH et les clusters de Kmeans en utilisant la méthode pandas.crosstab**

In [12]:
pd.crosstab(kmeans.labels_,groupes_cah)

col_0  1  2  3  4
row_0
0      0  0  1  6
1      0  8  0  0
2      4  0  0  0
3      0  1  6  3